<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>基于攻击链路径安全防护系统</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{%  static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{%  static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{%  static 'css/style1.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{%  static 'images/logo1.png' %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="{%  static 'style/authority/basic_layout.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  static 'style/authority/common_style.css' %}" rel="stylesheet" type="text/css">
    <link href="{%  static 'style/authority/zTreeStyle.css" rel="stylesheet' %}" type="text/css">
    <script type="text/javascript" src=" {%  static 'js/echarts/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{%  static 'scripts/jquery/jquery-1.4.4.min.js' %}"></script>
    <script type="text/javascript" src="{%  static 'scripts/zTree/jquery.ztree.core-3.2.js' %}"></script>
    <script type="text/javascript" src="{%  static 'scripts/fancybox/jquery.fancybox-1.3.4.js' %}"></script>
    <script type="text/javascript" src="{%  static 'scripts/fancybox/jquery.fancybox-1.3.4.pack.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{%  static 'style/authority/jquery.fancybox-1.3.4.css" media="screen' %}"/></link>
    <script type="text/javascript" src="{%  static 'scripts/artDialog/artDialog.js?skin=default' %}"></script>
    <script type="text/javascript">

        /** ----------------leftMenu zTree部分开始----------------  **/
        var zTree;
        var setting = {
            view : {
                dblClickExpand : false,
                showLine : true,
                selectedMulti : false,
                expandSpeed : ($.browser.msie && parseInt($.browser.version) <= 6) ? ""
                    : "fast"
            },
            data : {
                key : {
                    name : "weiduName"
                },
                simpleData : {
                    enable : true,
                    idKey : "weiduID",
                    pIdKey : "parentID",
                    rootPId : ""
                }
            },
            callback : {
                beforeClick : beforeClick,
                onClick : onClick
            }
        };
        // var zNodes = [{"checked":false,"crospID":0,"delFlag":1,"parentID":0,"weiduCode":"FANGYUANGUANLI","weiduGrade":0,"weiduID":5,"weiduName":"历史数据","weiduOrder":2,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":5,"weiduCode":"KANGJUXINCHENG","weiduGrade":1,"weiduID":6,"weiduName":"余江","weiduOrder":1,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":5,"weiduCode":"YULANXIAOQU","weiduGrade":1,"weiduID":77,"weiduName":"二江","weiduOrder":2,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":5,"weiduCode":"HESHENGYUAN","weiduGrade":1,"weiduID":83,"weiduName":"乌江","weiduOrder":3,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":83,"weiduCode":" HESHENGYUAN1HAOLOU","weiduGrade":2,"weiduID":84,"weiduName":" 和盛园小区112号楼","weiduOrder":1,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":6,"weiduCode":"KANGJUXINCHENG500HAO1DONG","weiduGrade":2,"weiduID":16,"weiduName":"上游一号","weiduOrder":1,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":77,"weiduCode":"YULANXIAOQU2HAOLOU","weiduGrade":2,"weiduID":78,"weiduName":"蔚蓝小区4号楼","weiduOrder":1,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":77,"weiduCode":"YULANXIAOQU5HAOLOU","weiduGrade":2,"weiduID":79,"weiduName":"蔚蓝小区5号楼","weiduOrder":2,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":6,"weiduCode":"KANGJUXINCHENG500HAO2DONG","weiduGrade":2,"weiduID":17,"weiduName":"上游二号","weiduOrder":2,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":83,"weiduCode":" HESHENGYUAN2HAOLOU","weiduGrade":2,"weiduID":85,"weiduName":" 和盛园小区113号楼","weiduOrder":2,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":6,"weiduCode":"KANGJUXINCHENG500HAO3DONG","weiduGrade":2,"weiduID":69,"weiduName":"中游一号","weiduOrder":3,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":77,"weiduCode":"YULANXIAOQU7HAOLOU","weiduGrade":2,"weiduID":80,"weiduName":"蔚蓝小区7号楼","weiduOrder":3,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":77,"weiduCode":"YULANXIAOQU8HAOLOU","weiduGrade":2,"weiduID":81,"weiduName":"蔚蓝小区8号楼","weiduOrder":4,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":6,"weiduCode":"RUIJINGHEPAN20HAOLOU","weiduGrade":2,"weiduID":72,"weiduName":"中游二号","weiduOrder":4,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":6,"weiduCode":"RUIJINGHEPAN22HAOLOU","weiduGrade":2,"weiduID":73,"weiduName":"下游游一号","weiduOrder":5,"weiduType":"FANGYUANGUANLI"},
        //     {"checked":false,"crospID":0,"delFlag":1,"parentID":6,"weiduCode":"RUIJINGHEPAN23HAOLOU","weiduGrade":2,"weiduID":74,"weiduName":"下游二号","weiduOrder":6,"weiduType":"FANGYUANGUANLI"},
        // ];
        $(document).ready(function() {
            $.fn.zTree.init($("#tree"), setting, zNodes);
            zTree = $.fn.zTree.getZTreeObj("tree");
            // 默认展开所有节点
            zTree.expandAll(true);
        });

        function beforeClick(treeId, treeNode) {
            var check = (treeNode && treeNode.isParent && treeNode.weiduGrade != 2);
            if (check) {
                art.dialog({icon:'error', title:'友情提示', drag:false, resize:false, content:'只能选择断面区域', ok:true,});
                return false;
            }
            return true;
        }

        /** 左键单击 **/
        // function onClick(e, treeId, treeNode) {
        //     var fyXqCode = treeNode.getParentNode().weiduID;
        //     var fyDhCode = treeNode.weiduID;
        //     $("#submitForm").attr("action","/xngzf/archives/showLoupanChart.action?fyXqCode="+ fyXqCode + "&fyDhCode=" + fyDhCode).submit();
        // }
        /** ----------------leftMenu  zTree部分开始----------------  **/
    </script>
    <script type="text/javascript" >
        function fun(){
 //            新建一个date对象
             var date =new Date();
             var year = date.getFullYear();
             var month = date.getMonth()+1;
             var day = date.getDate();
             var hour = date.getHours();
             var minutes = date.getMinutes();
             var seconds = date.getSeconds();
             var week = date.getDay();
            if(week==1){
                week="一";
            }if(week==2){
                week="二";
            }
            if(week==3){
                week="三";
            }
            if(week==4){
                week="四";
            }
            if(week==5){
                week="五";
            }
            if(week==6){
                week="六";
            }
            if(week==7){
                week="日";
            }
             var am="";
             if(hour>=0 && hour<=12){
                 am = "AM";
             }else{
                 am = "PM"
             }
             document.getElementById("date").innerHTML=year+"年"+month+"月"+day+"日"+" "+hour+":"+minutes+":"+seconds+" "+am+" 星期"+week;
 
         }
         onload = function(){
             setInterval("fun()",100);
         }
     </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".fy_table_td").fancybox({
                'width' : 900,
                'height' : 650,
                'type' : 'iframe',
                'hideOnOverlayClick' : false,
            });

            var lists = $('.unit-the-table tr').eq(0);
            $.each(lists, function(){
                var tds = $(this).find('td[unitname]');
                var names = {};
                $.each(tds, function(){
                    var unitname = $(this).attr('unitname');
                    names[unitname] = names[unitname] ? names[unitname] + 1 : 1;
                });
                var html = '<tr><th width="40" class="fang_th">单元</th>';
                $.each(names, function(i, n){
                    html += '<th width="40" colspan="'+n+'" class="fang_th">'+i+'单元</th>';
                });
                $('#unit-thead').html(html);
            });
        });
    </script>
    <style type="text/css">
        #sider{
            position: absolute;
            top: 0;
            left: 250px;
            bottom: 0px;
            width: 260px;
            border: 1px none #ffffff;
        }
        #main{
            position: absolute;
            top:300px;
            left: 285px;
            right: 0px;
            bottom: 0px;
            border: 1px none #ffffff;
            overflow: auto;
        }
        #box_border {
            border: 1px none #ffffff;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
        #fang_type {
            list-style-type: none;
        }
        #fang_type li{
            width: 80px;
            height: 22px;
            line-height: 22px;
            color: #ffffff;
            display: inline-block;
        }

        .fy_table_td{
            color: #ffffff;
        }

        .fang_th{
            background: #ff0337 no-repeat;
            text-align: center;
            border-left: 1px solid #f066dc;
            border-right: 1px solid #247f04;
            border-bottom: 1px solid #02397F;
            border-top: 1px solid #ff0337;
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 14px;
            color: #247f04;
            height: 37px;
        }
    </style>
</head>
<body>
<div class="container-scroller d-flex">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item sidebar-category">
                <p align="center"  style="font-size: 30px ;letter-spacing:1px;">基于攻击链路径</p>
                </br>
                <p align="center"  style="font-size:30px ;letter-spacing:1px ">安全防护系统</p>
                <span></span>
            </li>
            <li class="nav-item sidebar-category">
                <a href="index.html">
                    <input align="center" type="button" value="Components"  style="border: none;background: #2c5569;color: #ffffff" >
                </a>
                <span></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-palette menu-icon"></i>
                    <span class="menu-title" style="font-size:25px">数据监测</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/user/nowData1" style="font-size:20px">实时数据</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/historyData2" style="font-size:20px">历史数据</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/dataPhoto"  style="font-size:20px">数据报表</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/pollutionTracing">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title"  style="font-size:25px">安全溯源</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/pollutionPredict">
                    <i class="mdi mdi-chart-pie menu-icon"></i>
                    <span class="menu-title" style="font-size:25px">安全预测</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                    <i class="mdi mdi-palette menu-icon"></i>
                    <span class="menu-title"style="font-size:25px">系统设置</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic1">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/user/userSystem" style="font-size:20px">用户管理</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/setSystem" style="font-size:20px">系统管理</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="/user/index"><img src="images/log2.gif"  width="120px" height="100px" alt="logo"/></a>
                </div>
                <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">今天也要加油喔！</h4>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item">
                        <h4 style="color: white;font-size: 15px"><p id="date"></p></h4>
                    </li>
                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-calendar mx-0"></i>
                            <span class="count bg-info">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-email-open mx-0"></i>
                            <span class="count bg-danger">1</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="{%  static 'images/faces/face11.jpg' %}" alt="profile"/>
                            <span class="nav-profile-name">
                                <!-- {% if  request.session.user_name %}
                                {{ request.session.user_name }}
                                {% else %}
                                    欢迎游客
                                {% endif %} -->
                                {% if request.session.user_name %}
                
                                   <a href=""><span style="font-weight: bolder; "> 你好 
                                    {{ request.session.user_name}}  </a> </span>
			
                
                                {% else %}
                                    
                                        使用前请
                                    
                                {% endif %}
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            {% if request.session.user_name %}
                                
                                <a class="dropdown-item" href="/user/Logout">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    Logout
                                </a>
                            {% else %}
                                <a class="dropdown-item" href="/user/login1">
                                    <i class="mdi mdi-settings text-primary"></i>
                                    login
                                </a>
                                
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-plus-circle-outline"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-web"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-clock-outline"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--enen-->
        <h1 style="color:white;background: #355469" align=" center" >history data</h1>
    
        <div  id="main" style="position:absolute;left:23%;top:38%;height:450px;">
            <script>
                var myChart = echarts.init(document.getElementById('main'));
    
    // 指定图表的配置项和数据
                var option = {
                title : {
                    text: '过去一周数据合法情况',
                    subtext: '合法/非法'
                },
                tooltip : {
                    trigger: 'axis'
                },
                 legend: {
                     data:['合法','非法']
                 },
                toolbox: {
                    show : true,
            feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                 }
                },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : ['周一','周二','周三','周四','周五','周六','周日']
                 }
             ],
             yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                    formatter: '{value} 条'
                      }
                 }
            ],
             series : [
            {
                name:'合法',
                type:'line',
                data:[110, 121, 138, 133, 125, 135, 120],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name: '平均值'}
                    ]
                }
            },
            {
                name:'非法',
                type:'line',
                data:[30, 13, 22, 25, 13, 12, 10],
                markPoint : {
                    data : [
                        {type : 'max', name: '最大值'},
                        {type : 'min', name: '最小值'}
                    ]
                },
                markLine : {
                    data : [
                        {type : 'average', name : '平均值'}
                        ]
                     }
                }
            ]
        };
        myChart.setOption(option);
        </script>
        </div>
    </div>
        {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
        {% endif %}
    <script src="{%  static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{%  static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{%  static 'js/off-canvas.js' %}"></script>
    <script src="{%  static 'js/hoverable-collapse.js' %}"></script>
    <script src="{%  static 'js/template.js' %}"></script>
    <script src="{%  static 'js/dashboard.js' %}"></script>
</body>
</html>