<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    {% load staticfiles %}
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>基于攻击链路径安全防护系统</title>
    <!-- base:css -->
    <link rel="stylesheet" type="text/css" href="{%  static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{%  static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{%  static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
{#    <link rel="stylesheet" href="{%  static  'css/style1.css‘ %}" >#}
    <link href="{%  static 'css1/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{%  static 'css/style1.css' %}" rel='stylesheet' type='text/css' />
    <!-- endinject -->
    <link rel="shortcut icon" href="{%  static 'images/logo1.png' %}" />
    <script type="text/javascript" >
        function fun(){
 //            新建一个date对象
             var date =new Date();
             var year = date.getFullYear();
             var month = date.getMonth()+1;
             var day = date.getDate();
             var hour = date.getHours();
             var minutes = date.getMinutes();
             var seconds = date.getSeconds();
             var week = date.getDay();
            if(week==1){
                week="一";
            }if(week==2){
                week="二";
            }
            if(week==3){
                week="三";
            }
            if(week==4){
                week="四";
            }
            if(week==5){
                week="五";
            }
            if(week==6){
                week="六";
            }
            if(week==7){
                week="日";
            }
             var am="";
             if(hour>=0 && hour<=12){
                 am = "AM";
             }else{
                 am = "PM"
             }
             document.getElementById("date").innerHTML=year+"年"+month+"月"+day+"日"+" "+hour+":"+minutes+":"+seconds+" "+am+" 星期"+week;
 
         }
         onload = function(){
             setInterval("fun()",100);
         }
     </script>
    <script type="text/javascript">
        // 页面加载完成之后
        $(function () {
            // 给注册绑定单击事件
            $("#sub_btn").click(function () {
                // 验证用户名：必须由字母，数字下划线组成，并且长度为5到12位
                //1 获取用户名输入框里的内容
                var durationText = $("#duration").val();
                //2 创建正则表达式对象
                var usernamePatt = /^\w{5,12}$/;
                //3 使用test方法验证
                // if (!usernamePatt.test(usernameText)) {
                //     //4 提示用户结果
                //     $("span.errorMsg").text("用户名不合法！");

                //     return false;
                // }
                if (durationText == null || durationText == "")
                {
                    $("span.errorMsg").text("不能为空！");
                    
                }
                //var codeText = $("#code").val();

                //去掉验证码前后空格
                // alert("去空格前：["+codeText+"]")
                // codeText = $.trim(codeText);
                // alert("去空格后：["+codeText+"]")

                {#if (codeText == null || codeText == "") {#}
                {#    //4 提示用户#}
                {#    $("span.errorMsg").text("验证码不能为空！");#}
                {##}
                {#    return false;#}
                {#}#}

                // 去掉错误信息
                // $("span.errorMsg").text("");

            });

        });

    </script>
</head>
<body>
<div class="container-scroller d-flex">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item sidebar-category">
                <p align="center"  style="font-size: 30px ;letter-spacing:1px;">基于攻击链路径</p>
                </br>
                <p align="center"  style="font-size:30px ;letter-spacing:1px ">安全防护系统</p>
                <span></span>
            </li>
            <li class="nav-item sidebar-category">
                <a href="index.html">
                    <input align="center" type="button" value="Components"  style="border: none;background: #2c5569;color: #ffffff" >
                </a>
                <span></span>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <i class="mdi mdi-palette menu-icon"></i>
                    <span class="menu-title" style="font-size:25px">数据监测</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/user/nowData1" style="font-size:20px">实时数据</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/historyData2" style="font-size:20px">历史数据</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/dataPhoto"  style="font-size:20px">数据报表</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/pollutionTracing">
                    <i class="mdi mdi-view-headline menu-icon"></i>
                    <span class="menu-title"  style="font-size:25px">安全溯源</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/pollutionPredict">
                    <i class="mdi mdi-chart-pie menu-icon"></i>
                    <span class="menu-title" style="font-size:25px">安全预测</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic1" aria-expanded="false" aria-controls="ui-basic1">
                    <i class="mdi mdi-palette menu-icon"></i>
                    <span class="menu-title"style="font-size:25px">系统设置</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="collapse" id="ui-basic1">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" href="/user/userSystem" style="font-size:20px">用户管理</a></li>
                        <li class="nav-item"> <a class="nav-link" href="/user/setSystem" style="font-size:20px">系统管理</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:./partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="navbar-brand-wrapper">
                    <a class="navbar-brand brand-logo" href="index.html"><img src="{%  static 'images/log2.gif' %}"  width="120px" height="100px" alt="logo"/></a>
                </div>
                <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">今天也要加油喔！</h4>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item">
                        <h4 style="color: white;font-size: 15px"><p id="date"></p></h4>
                    </li>
                    <li class="nav-item dropdown mr-1">
                        <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-calendar mx-0"></i>
                            <span class="count bg-info">2</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="{%  static 'images/faces/face4.jpg' %}" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="{%  static 'images/faces/face2.jpg' %}" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="{%  static 'images/faces/face3.jpg" alt="image' %}" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                                    </h6>
                                    <p class="font-weight-light small-text text-muted mb-0">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-email-open mx-0"></i>
                            <span class="count bg-danger">1</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-information mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-account-box mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
            <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Here..." aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="{%  static 'images/faces/face11.jpg' %}" alt="profile"/>
                            <span class="nav-profile-name">
                                <!-- {% if  request.session.user_name %}
                                {{ request.session.user_name }}
                                {% else %}
                                    欢迎游客
                                {% endif %} -->
                                {% if request.session.user_name %}
                
                                   <a href=""><span style="font-weight: bolder; "> 你好 
                                    {{ request.session.user_name}}  </a> </span>
			
                
                                {% else %}
                                    
                                        使用前请
                                    
                                {% endif %}
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            {% if request.session.user_name %}
                                
                                <a class="dropdown-item" href="/user/Logout">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    Logout
                                </a>
                            {% else %}
                                <a class="dropdown-item" href="/user/login1">
                                    <i class="mdi mdi-settings text-primary"></i>
                                    login
                                </a>
                                
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-plus-circle-outline"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-web"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link icon-link">
                            <i class="mdi mdi-clock-outline"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--<h1 style="color:white;background: #355469" align=" center" >&nbsp;&nbsp;&nbsp;</h1>-->
        <!--加在这-->
        <h3 style="color:white;background: #355469;font-size: 25px;" align=" center" >security prediction</h3>
        <div class="main-panel" align="left">
            <div class="content-wrapper" align="left">
                <div class="row" align="left" style="height:68%;position: relative;top: -100px" >
                    <div class="col-1 col-xl-6 grid-margin stretch-card">
                        <div  class="row w-100 flex-grow">
                            <div class="col-md-12 grid-margin stretch-card">
                                <fieldset>
                                <form id="submitForm" name="submitForm" action="/user/pollutionPredict1" method="post" onSubmit="return beforeSubmit(this);" enctype="multipart/form-data">
                                    <!--<input type="hidden" name="fyID" value="14458625716623" id="fyID"/>-->
                                    <div align="center" id="container" style="background-color: rgb(255,83,69)">
                                        <div align="center" id="nav_links" style="font-size: 30px;color: #2c5569;border: none;align-content: center;">
                                            <!--当前位置：基础数据&nbsp;>&nbsp;<span style="color: #2c5569;font-size: 20px;">安全信息</span>-->
                                            <span style="color: #ffffff;font-size: 30px;">安全预测</span>
                                        </div>
                                        <div class="ui_content" style="color: #ffffff">
                                            <div style="width:600px; height:650px; overflow:scroll; overflow-x:hidden;">
                                            <table style="background-color: #2c5569; table-layout:fixed; border-collapse:separate; border-spacing:15px;" cellspacing="0" cellpadding="0" width="100%" align="left" border="0">
                                                <tr>
                                                    <td class="ui_text_rt">连接持续时间</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%" required="required"   type="text" id="duration" placeholder="范围是 [0, 58329]" name="duration"   class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">协议类型</td>
                                                    <td class="ui_text_lt">
                                                        <select name="protocol_type" style="width:60%">
                                                            <option name="protocol_type" value="0">TCP</option>
                                                            <option name="protocol_type" value="1">udp</option>
                                                            <option name="protocol_type" value="2">ICMP</option>
                                                        </select> 
{#                                                        <input style="width:60%"  required="required" type="text" id="month" name="month" value=" "  class="ui_input_txt01"/>#}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">连接状态</td>
                                                    <td class="ui_text_lt">
                                                        <select name="flag" style="width:60%">
                                                            <option name="flag" value="0">正确</option>
                                                            <option name="flag" value="1">错误</option>

                                                        </select>
{#                                                        <input style="width:60%" required="required" type="text" id="liuliang" name="liuliang" value=" "  class="ui_input_txt01"/>#}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">错误分段数量</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="TP" name="wrong_fragment" placeholder=" [0, 3]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">加急包个数</td>
                                                    <td class="ui_text_lt">
                                                        <input  style="width:60%" required="required" type="text" id="NH4N" name="urgent" placeholder=" [0, 14]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">访问系统敏感文件次数</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="hot" placeholder=" [0, 101]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">登录失败次数</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="num_failed_logins" placeholder=" [0, 5]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">登录状态</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="logged_in" placeholder="成功为1，失败为0" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">root用户访问次数</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%" required="required" type="text" id="COD" name="num_root" placeholder=" [0, 7468]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">是否获得root权限</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="root_shell" placeholder="获得为1，否则为0" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">是否是guest登录</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="is_guest_login" placeholder="是为1，否则为0" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">与当前连接具有相同服务的连接数</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="count" placeholder=" [0, 511]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">与当前连接具有相同服务的连接数</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%" required="required" type="text" id="COD" name="srv_count" placeholder=" [0, 511]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">在与当前连接具有相同目标主机的连接中，与当前连接具有不同服务的连接的百分比</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="diff_srv_rate" placeholder=" [0.00, 1.00]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">在与当前连接具有相同服务的连接中，与当前连接具有不同目标主机的连接的百分比</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="srv_diff_host_rate" placeholder=" [0.00, 1.00]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt">与当前连接具有相同目标主机的连接数</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%" required="required"  type="text" id="COD" name="dst_host_count" placeholder=" [0, 255]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt" style="word-wrap:break-word">前100个连接中，与当前连接具有相同目标主机相同服务的连接数</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="dst_host_srv_count" placeholder=" [0, 255]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt" style="word-wrap:break-word">前100个连接中，与当前连接具有相同目标主机相同服务的连接所占的百分比</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="dst_host_same_srv_rate" placeholder=" [0.00, 1.00]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="ui_text_rt" style="word-wrap:break-word">前100个连接中，与当前连接具有相同目标主机不同服务的连接所占的百分比</td>
                                                    <td class="ui_text_lt">
                                                        <input style="width:60%"  required="required" type="text" id="COD" name="dst_host_diff_srv_rate" placeholder=" [0.00, 1.00]" class="ui_input_txt01"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td class="ui_text_lt">
                                                    </td>
                                                </tr>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        &nbsp;&nbsp;
                                    </p>
                                    <!--<div align="center">-->
                                        <!--<a href="nowData1.html">-->
                                            <!--<input style="width:40%;height: 40px; color:#ffffff;font-size:20px;background-color: #ff88a7" type="button" value="提交"  class="ui_input_btn01" id="addBtn"/>-->
                                        <!--</a>-->
                                        <!--<a href="nowData1.html">-->
                                            <!--<input style="width:40%;height: 40px;color:#ffffff;font-size:20px;background-color: #ff88a7" type="button" value="取消" />-->
                                        <!--</a>-->
                                    <!--</div>-->
                                    <input type="submit"  align="center" style="background-color: #00d082;color: rgba(255,255,255,0.91);width: 300px;font-size: 20px;">
                                </form>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
function beforeSubmit(submitForm){
        if(form.duration.value==''){
        alert('用户名不能为空！');
        form.duration.focus();
        return false;
        }
        // if(form.password.value==''){
        // alert('密码不能为空！');
        // form.password.focus();
        // return false;
        // }
        // if(form.password.value.length<6){
        // alert('密码至少为6位，请重新输入！');
        // form.password.focus();
        // return false;
        // }
        // if(form.password.value!=form.password2.value) {
        // alert('你两次输入的密码不一致，请重新输入！');
        // form.password2.focus();
        // return false;
        // }
        return true;
}
</script>
{% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
{% endif %}
<script src="{%  static 'vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{%  static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{%  static 'js/off-canvas.js' %}"></script>
<script src="{%  static 'js/hoverable-collapse.js' %}"></script>
<script src="{%  static 'js/template.js' %}"></script>
<script src="{%  static 'js/dashboard.js' %}"></script>
</body>
</html>